.container
  .row
    .col-md-4.col-md-offset-4
      h1.text-center.login-title
        | Sign in to continue to NotesApp
      .account-wall
        .profile-img
          span.glyphicon.glyphicon-log-in(style='font-size: 5em;')
        form.form-signin(name='form', ng-submit='login(form)')

          div.form-group.has-error(ng-repeat='error in errors')
            .alert.alert-danger(role='alert') {{error.message}}

          input.form-control(type='text', placeholder='Email', name='email', ng-model='unregisterUser.email', required='', autofocus='')
            
          input.form-control(type='password', placeholder='Password', name='password', ng-model='unregisterUser.password', required='')
            
         
          button.btn.btn-lg.btn-primary.btn-block(type='submit')  Sign in 
          span.clearfix
      a.text-center.new-account(href='/signup') Create an account 