nav.navbar.navbar-default(ng-controller='NavbarCtrl')
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#', name='top') NotesApp
    
      


    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li(ng-repeat='item in menu', ui-route='/{{item.link}}', ng-class='{active: $uiRoute}')
          a(href='/{{item.link}}') {{item.title}}
        li(ng-repeat='item in authMenu', ng-show='currentUser', ui-route='/{{item.link}}', ng-class='{active: $uiRoute}')
          a(href='/{{item.link}}') {{item.title}}

      ul.nav.navbar-nav.navbar-right(ng-hide='currentUser')
        li
          a(href='/login') Log In
        li
          a(href='/signup') Sign up

      ul.nav.navbar-nav.navbar-right(ng-show='currentUser')

        li(uib-dropdown='')
          a(href='',uib-dropdown-toggle='', ng-disabled='disabled')
            | Welcome, {{ currentUser.username }} 
            span.caret
          ul.dropdown-menu(uib-dropdown-menu='', role='menu', aria-labelledby='simple-dropdown')
             li(role='menuitem')
               a(ng-click='logout()')
                 span.glyphicon.glyphicon-log-out
                  |  Logout
    // /.navbar-collapse
  // /.container-fluid