.container
  .row
    h1.text-center.login-title Sign up (you can use a fake email.)
    .col-sm-6.col-md-4.col-md-offset-4.signup-well
      form.form(name='form', ng-submit='register(form)', novalidate='')
        .form-group.has-error(ng-repeat='error in errors')
          .alert.alert-danger(role='alert') {{error.message}}
        input.form-control(placeholder='Your Email', type='email', name='email', ng-model='user.email', required='', autofocus='', on-focus='')
        input.form-control(placeholder='Username', type='text', name='username', ng-model='user.username', required='', unique-username='')
        input.form-control(placeholder='Password', type='password', name='password', ng-model='user.password', ng-minlength='5', required='')
        button.btn.btn-lg.btn-primary.btn-block(type='submit', ng-disabled='form.$invalid') Sign up
