doctype html
html(ng-app="appNotesClient")
	head
	title= title
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	base(href='/')
	link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', media='screen')
	link(rel='stylesheet', href='/stylesheets/style.css')
	
body
	include partials/navbar


	block content
	.container(ng-view='')


	script(src='/javascripts/libs/jquery-min.js')
	script(src='/javascripts/libs/bootstrap-min.js')
	script(src='/javascripts/libs/angular.min.js')
	script(src='/javascripts/libs/angular-resource.min.js')
	script(src='/javascripts/libs/angular-cookies.min.js')
	script(src='/javascripts/libs/angular-sanitize.min.js')
	script(src='/javascripts/libs/angular-route.min.js')
	script(src='/javascripts/libs/angular-animate.min.js')
	script(src='/javascripts/libs/ui-bootstrap-tpls.min.js')
	script(src='/javascripts/libs/http-auth-interceptor.js')
	script(src='/javascripts/app.js')
	script(src='/javascripts/controllers/main.js')
	script(src='/javascripts/controllers/navcontroller.js')
	script(src='/javascripts/controllers/login.js')
	script(src='/javascripts/controllers/signup.js')
	script(src='/javascripts/controllers/notes.js')
	script(src='/javascripts/services/Auth.js')
	script(src='/javascripts/services/User.js')
	script(src='/javascripts/services/Session.js')
	script(src='/javascripts/services/Notes.js')
