section
  form.form-horizontal(ng-submit='edit()')
    .form-group
      label.control-label(for='subject') Subject
      .controls
        input.form-control(type='text', ng-model='acutalNote.subject', ng-disabled="acutalNote.id!=null", placeholder='Subject', required='',ng-maxlength='250')
    .form-group
      label.control-label(for='body') Body
      .controls
        textarea.form-control(ng-model='acutalNote.body', rows='10', placeholder='Body' ng-value='acutalNote.body',ng-maxlength='1000')
    .form-group(ng-show='acutalNote.id!= null')
      label.control-label Audit
      .controls
        span Actual version is: {{acutalNote.version}}
        br
        span Last modified: {{acutalNote.updatedAt | date:'medium'}}
    .form-group
      .btn-toolbar
        button.btn.btn-danger.btn-sm(type='button',ng-click='remove(acutalNote.id)', ng-show='acutalNote.id!=null')
          span.glyphicon.glyphicon-trash
          |  Delete
        button.btn.btn-primary.pull-right(type='submit') Submit
        a.btn.btn-warning.btn-sm(type='button',ng-href='notes/')
          span.glyphicon.glyphicon-remove
          |  Cancel
