section(ng-init='find()')
	div(ng-repeat='note in notes')
		h1
			a(ng-href='notes/edit/{{note.id}}') {{note.subject}}
			.pull-right.btn-toolbar
				a.btn.btn-warning.btn-sm(type='button',ng-href='notes/edit/{{note.id}}')
					span.glyphicon.glyphicon-pencil
					|  Edit
				button.btn.btn-danger.btn-sm(type='button',ng-click='remove(note.id)')
					span.glyphicon.glyphicon-trash
					|  Delete
		p {{note.body}}
		div
			span.badge.badge-success Posted {{note.updatedAt | date:'medium'}}
			.pull-right
				span.badge.badge-success Version {{note.version}}
		hr
	h1(ng-hide='!notes || notes.length')
		| No Notes yet. 
		br
		|  Why don't you 
		a(href='/notes/edit/-1') Create One
		| ?
.col-md-12.text-center
	a.btn.btn-success.btn-sm(ng-href='/notes/edit/-1')
		span.glyphicon.glyphicon-plus
		|  Create
